body{
	background-image: url("../img/bg.jpg");
	padding: 0px;
	margin:0px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
input, button{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
h1{
	color:rgb(217, 223, 223);
	font-size: 25px;
	font-family: 'arial';
	
}
.main-div, .loggedin-div{
	width: 20%;
	margin: 0px auto;
	margin-top: 150px;
	padding: 28px;
}

.main-div input{
	display: block;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	padding: 15px;
	outline: none;
	width: 100%;
	margin-bottom: 20px;
}

.main-div input:focus{
	border: 1px solid #777;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}

.main-div button, .loggedin-div button{
	background: rgb(37, 183, 241);
	color: #fff;
	border: 1px solid #98FB98;
	border-radius: 5px;
	padding: 10px;
	display: block;
	width: 100%;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
	background: #fff;
	color: rgb(17, 149, 182);
	border: 1px solid #98FB98;
	cursor: pointer;

}